{% extends "base.html" %}
{% load static %}
{% block section %}
<div class="container">
    {% if message %}
    <div class="alert alert-danger">
       {{message}}
    </div>
    {% endif %}
    <div class="row d-flex justify-content-center align-items-cente">
        <form class="col-md-4" method="POST">
            {% csrf_token %}
            <h4>Update</h4>
            <div class="form-group">
                <label for="exampleInputEmail1">Username</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Databasename" name="username" value="{{password.username}}">

              </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="dbpassword" name="password" value="{{password.password}}">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Url</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="eg:- www.facebook.com" name="url" value="{{password.url}}">
              </div>

 
            <button type="submit" class="btn btn-primary">Update</button>

          </form>
    </div>
</div>
{% endblock section %}